
.post-header{
    /* width: fit-content; */
    margin-left: 0% !important;
    margin-right: 0% !important;
    overflow: hidden !important

}

.header-date{
    text-align: end;
}

@media (max-width: 750px){
    .post-card-header{
        text-align: center;
    }
}

.transparent {
    background-color: rgba(255,255,255,0.5) !important;
    /* background-color: rgba(255, 255, 255, 0.444) !important */
}

