@font-face {
    font-family: 'Magic';
    src: url(../fonts/Piedra-Regular.ttf) format('truetype');
}

.links {
    font-family: 'Magic';
    text-decoration: none;
    color: black !important;
    font-size: 50px !important;
}