.result-titles{
    font-family: 'Magic', 'sans-serif';
    
}

.result-info{
    font-family: 'Magic', 'sans-serif';
    font-size: 20px;
}

.result-card{
    width: fit-content;
    /* height: max-content; */
    /* background-color: transparent; */
    /* background-color: rgb(250, 213, 143) !important; */
}

.img-adjust{
    height: 350px;
    
}

.img-adjust .img-fit{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
