.result-titles{
    font-family: 'Magic', 'sans-serif';
    
}

.result-card{
    width: fit-content;
    /* background-color: transparent; */
}

.img-adjust{
    height: 350px;
    
}

.img-adjust .img-fit{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
