.root {
    margin: 0;
    background-color: rgb(247, 235, 16);
    /* height: 100vh; */
}

.maximize {
    /* background-color: rgb(254, 230, 5); */
    background-image: url("../images/fortune-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    /* height: 100vh;  */
    /* padding-top: 150px; */
    /* padding-bottom: 210px; */
    
}